<a href="https://colab.research.google.com/github/Chayanonboo/dsb-batch10/blob/main/R_Diamonds%20with%20dplyr%20in%20R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**R_Diamonds_with_dplyr**

**Author**: Chayanon Boonthanom

**Language**: R

**Date**: 09 May 2025

**Install library**

In [3]:
library(tidyverse)
library(tinytex)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

View Diamonds output

In [ ]:
View(diamonds)

**Define variable for diamonds table**

In [5]:
diamond_df <- diamonds %>% sample_frac(0.15)

head of diamond

In [6]:
head(diamond_df)

  carat cut       color clarity depth table price x    y    z
1 0.70  Very Good I     SI2     60.9  59     1603 5.70 5.76 3.49
2 1.20  Premium   H     SI1     61.2  57     6129 6.91 6.78 4.19
3 0.51  Premium   D     SI1     62.2  58     1619 5.13 5.06 3.17
4 1.81  Premium   E     SI2     58.2  61    13561 8.09 8.02 4.69
5 1.10  Premium   I     SI1     60.4  61     4312 6.73 6.69 4.05
6 1.10  Very Good G     IF      60.5  55     8592 6.77 6.71 4.08

library(ggplot2)

In [ ]:
library(ggplot2)

ggplot2

df1 function

In [ ]:
df1 <- diamond_df %>%
  select(clarity,carat,cut) %>%
 filter(carat > 0.3,cut == "Ideal")

In [ ]:
tail(df1)

  clarity carat cut
1 SI2     1.12  Ideal
2 VS1     0.71  Ideal
3 VS2     0.51  Ideal
4 VS2     1.01  Ideal
5 VS2     0.38  Ideal
6 VS2     1.01  Ideal

df2 function

In [8]:
df2 <- diamond_df %>%
  select(clarity,color,price) %>%
  filter(color == "E",price > 900) %>%
  arrange( clarity , desc(price) )

In [9]:
head(df2)

  clarity color price
1 I1      E     11548
2 I1      E      5647
3 I1      E      5027
4 I1      E      3797
5 I1      E      3729
6 I1      E      3300

df3 function

In [10]:
df3 <- diamond_df %>%
  filter(carat <= 0.9) %>%
  sample_n(100) %>%
  summarise(mean_carat = mean(carat),
            sum_carat = sum(carat),
            median_carat = median(carat),
            sd_carat = sd(carat),
            n = n())

In [12]:
df3

  mean_carat sum_carat median_carat sd_carat  n
1 0.4666     46.66     0.4          0.1707039 100

df4 function

In [ ]:
df4 <- diamond_df %>%
  mutate(cr = ifelse(carat >= 1, "Good", "Normal")) %>%
  select (carat,cr,cut,price,color) %>%
  sample_n(100) %>%
  filter(color == "I",price >= 1000) %>%
  arrange(desc(price))

In [ ]:
df4

  carat cr   cut       price color
1 1.54  Good Very Good 10518 I
2 2.00  Good Fair       8736 I
3 1.06  Good Ideal      4092 I
4 1.06  Good Good       3842 I

df5 function

In [ ]:
df5 <- diamond_df %>%
  sample_n(10) %>%
  select (clarity,depth,table,price) %>%
  filter (table >= 55, depth >= 61 ) %>%
  arrange(desc(price))

In [ ]:
df5

  clarity depth table price
1 SI2     62.7  58    13099
2 VVS1    62.3  60     6132
3 VS2     61.8  56     5625
4 VS2     62.1  55     2952
5 SI1     62.6  56     2907
6 VVS2    61.2  56     1838
7 SI1     61.8  56      945
8 SI1     61.0  56      552
9 VVS1    61.0  61      544